/* this stylesheet is for header section on the index.html file */

/* These properties is for navigation */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(197, 196, 196);
  z-index: 100;
}

.left-sec {
  display: flex;
  align-items: center;
  width: 22%;
  justify-content: space-evenly;
}

.menu-icon {
  margin: 1rem 0.175rem 1rem 1.3rem;
  height: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.menu-icon:hover {
  background-color: rgb(234, 234, 235);
}

.beech-logo {
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.mid-sec {
  display: flex;
  /* margin: 0 2em 0 4em; */
  width: 55%;
  align-items: center;
  justify-content: space-evenly;
}

.mid-sec div {
  padding: 0.2em;
  font-size: 0.360rem;
  font-family: var(--primary-fontFamily);
  font-weight: var(--semibold-fontWeight);
  margin: 0.6em 0;
  text-align: center;
}

.navigation a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.navigation a:hover {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(96, 92, 100);
  color: rgb(96, 92, 100);
}

.right-sec {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-evenly;
  margin-right: 1em;
}

.socmed img {
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.socmed img:nth-of-type(1):hover {
  box-shadow: 0 0 2px 1px rgba(0, 83, 110, 0.5);
}

.socmed img:nth-of-type(2):hover {
  padding: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 83, 110, 0.5);
}

.fb-logo {
  height: 15px;
}

.instagram-logo {
  height: 13px;
}

/* This styles is for header image  */

.header-image {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.beach-img {
  border-radius: 15px;
}

.header-img-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 500px;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.images-container img {
  height: 80px;
}

.thumbnail-container {
  position: absolute;
  inset: 0px;
  overflow: hidden;
}

.content-holder {
  position: relative;
}

.thumbnail-list {
  list-style: none;
  position: absolute;
  bottom: 150px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px;
  width: 98%;
  padding-right: 16px;
  text-align: right;
  box-sizing: inherit;
  overflow-wrap: break-word;
}

.image-list {
  display: flex;
}

.image-list:hover {
  transform: scale(2.6);
  transition: all 0.6s ease;
  position: relative;
  z-index: 100;
}

.images-container {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px;
  border-radius: 6px;
  min-width: 79px;
  height: 64px;
  cursor: pointer;
  overflow: hidden;
}

.images-container:hover {
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px;
}

/* this styles for the header text */

.heading-text {
  margin-top: 6.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.heading-title {
  margin: 0 0 5px 0;
  font-family: var(--optional-fontFamily);
  font-size: 38px;
  box-sizing: border-box;
  font-weight: var(--bold-fontWeight);
  line-height: 38px;
  text-align: center;
  padding: 6px 0;
}

.pt-01 {
  margin: 2px;
  font-family: var(--optional-fontFamily);
  font-weight: var(--thin-fontWeight);
  font-size: 21px;
  padding: 5px;
  width: 715px;
  line-height: 1.2em;
  text-align: center;
}

.pt-02 {
  margin: 10px 0 0 0;
  font-family: var(--secondary-fontFamily);
  font-weight: var(--semibold-fontWeight);
  font-size: 1.2em;
}

.pt-03 {
  margin: 12px 0;
  font-family: var(--secondary-fontFamily);
  font-weight: var(--bold-fontWeight);
  font-size: 1.1em;
  text-decoration-line: underline;
}

/* media query for navigation */

/* for wider (426px or above) device like tablet */
@media only screen and (min-width: 426px) {
  .header {
    justify-content: space-evenly;
  }

  .left-sec {
    width: 26%;
  }

  .menu-icon {
    margin: 1rem 0.4rem 1rem 2.2rem;
    height: 20px;
  }

  .beech-logo {
    width: 90px;
    height: 40px;
  }

  .mid-sec {
    width: 60%;
    justify-content: space-evenly;
  }

  .mid-sec div {
    font-size: 0.760rem;
  }

  .right-sec {
    width: 12%;
  }

  .fb-logo {
    height: 25px;
  }

  .instagram-logo {
    height: 20px;
  }
}

/* for the device that has wider screen size or 769px wider like laptop */
@media only screen and (min-width: 769px) {
  .header {
    justify-content: space-evenly;
  }

  .left-sec {
    width: 28%;
  }

  .menu-icon {
    margin: 1rem 0.4rem 1rem 2.4rem;
    height: 26px;
  }

  .beech-logo {
    width: 120px;
    height: 50px;
  }

  .mid-sec {
    width: 62%;
  }

  .mid-sec div {
    font-size: 1.1rem;
  }

  .right-sec {
    width: 10%;
  }

  .fb-logo {
    height: 30px;
  }

  .instagram-logo {
    height: 25px;
  }
}

/* for the device that has more wider screen size or 1025px or abover like desktop */
@media only screen and (min-width: 1025px) {
  .header {
    justify-content: space-evenly;
  }

  .left-sec {
    width: 30%;
  }

  .menu-icon {
    margin: 1rem 0.4rem 1rem 2.2rem;
    height: 32px;
  }

  .beech-logo {
    width: 140px;
    height: 60px;
  }

  .mid-sec {
    width: 65%;
  }

  .mid-sec div {
    font-size: 1.4rem;
  }

  .right-sec {
    width: 12%;
  }

  .fb-logo {
    height: 38px;
  }

  .instagram-logo {
    height: 32px;
  }
}

/* for the device that has 4K resolution or 2560px wider screen size like high quality computer */
@media only screen and (min-width: 1441px) {
  .header {
    justify-content: space-evenly;
  }
  
  .left-sec {
    width: 28%;
  }

  .menu-icon {
    margin: 1rem 0.5rem 1rem 2rem;
    height: 46px;
  }

  .beech-logo {
    width: 160px;
    height: 75px;
  }

  .mid-sec {
    width: 67%;
    justify-content: space-evenly;
  }

  .mid-sec div {
    font-size: 2rem;
  }

  .right-sec {
    width: 10%;
    justify-content: space-evenly;
  }

  .fb-logo {
    height: 60px;
  }

  .instagram-logo {
    height: 48px;
  }
}